.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
}
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    padding: 5px 10px;
    border-radius: 5px;
}
